<div id="subscribe-block">
  <form
    action="https://buttondown.email/api/emails/embed-subscribe/bennorris"
    method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.email/bennorris', 'popupwindow')"
    id="subscribe-form"
  >
    <label for="email-input">Subscribe to get future updates in your inbox</label>
    <div class="email-input-row">
      <input type="email" name="email" id="email-input" class="email-input" required placeholder="Your email" />
      <button type="submit" data-analytics='"Subscribe", {"props":{"location":"{{ include.location | default: "post" }}"}}' class="btn"></span>Subscribe</button>
    </div>
    {% include subscribe-hidden-fields.html %}
  </form>
</div>    
