<div id="subscribe-block">
  <form
    action="https://buttondown.email/api/emails/embed-subscribe/bennorris"
    method="post"
    onsubmit="submitSubscriptionForm()"
    id="subscribe-form"
  >
    <label for="email-input" class="small">Subscribe to get updates delivered to your inbox</label>
    <div class="email-input-row">
      <input type="email" name="email" id="email-input" class="email-input" required placeholder="Your email" />
      <input type="submit" data-analytics='"Subscribe", {"props":{"location":"{{ include.location | default: "post" }}"}}' id="subscribe-button" class="btn" value="Subscribe" />
    </div>
    {% if page.subscribe-tag %}
      <input type="hidden" name="tag" value="{{ page.subscribe-tag }}" />
    {% else %}
      {% include subscribe-hidden-fields.html %}
    {% endif %}
    <input type="hidden" value="1" name="embed" />
  </form>
  <div id="subscribe-confirmation">
    <div class="subscribe-confirmation-text">
      <span class="large">🎉</span>
      <div class="small">You subscribed with <strong id="subscribed-email">[email]</strong> on <strong id="subscribed-date">[date]</strong>. Thanks for joining me!</div>
    </div>
    <a href="https://bennorris.com/subscribe/" class="more-link"><span class="link-text">Manage your subscription</span><span class="icon icon--arrow-right">{% include icon-arrow-right.svg %}</span></a>
  </div>
</div>
