/* ==========================================================================
   Images
   ========================================================================== */


img {
  border-radius: $border-radius;
}

.image-small {
  max-width: 10rem;
}

.image-medium {
  max-width: 20rem;
}

.image-large {
  max-width: 30rem;
}

video {
  border-radius: $border-radius;
}
