---
layout: default
---

{% include page-intro.html %}

{% assign posts = site.posts %}
<main id="main" class="page-content" aria-label="Content">
  <div class="index inner">
    <div>{{ content }}</div>
    
    {% if site.posts.size > 0 %}
      <div>
        <div class="entries-{{ page.entries_layout | default: 'list' }}">
          {% include posts-short-list.html posts=posts %}
            
          <a href="archive" class="btn">View archive</a>
        </div>
      </div>    
    {% endif %}
    
    {% include subscribe.html location="list" %}
  </div>
</main>