---
layout: page
sort_order: reverse
---

{{ content }}

<div class="entries-{{ page.entries_layout | default: 'list' }}">
  {% assign entries = site[page.collection] %}

  {% if page.sort_by == 'title' %}
    {% if page.sort_order == 'reverse' %}
      {% assign entries = entries | sort: 'title' | reverse %}
    {% else %}
      {% assign entries = entries | sort: 'title' %}
    {% endif %}
  {% elsif page.sort_by == 'date' %}
    {% if page.sort_order == 'reverse' %}
      {% assign entries = entries | sort: 'date' | reverse %}
    {% else %}
      {% assign entries = entries | sort: 'date' %}
    {% endif %}
  {% endif %}

  {%- for post in entries -%}
    {% include entry-book.html %}
  {%- endfor -%}
</div>
