---
layout: page
title: Subscribe
---

<div id="subscribe-block">
  <form
    action="https://buttondown.email/api/emails/embed-subscribe/bennorris"
    method="post"
    onsubmit="submitSubscriptionForm()"
    id="manage-subscription-form"
  >
    <label for="email-input" class="small">Subscribe to get future updates in your inbox</label>
    <div class="email-input-row">
      <input type="email" name="email" id="email-input" class="email-input" required placeholder="Your email" />
      <input type="submit" data-analytics='"Subscribe", {"props":{"location":"{{ include.location | default: "post" }}"}}' id="subscribe-button" class="btn" value="Subscribe" />
    </div>
    {% if page.subscribe-tag %}
      <input type="hidden" name="tag" value="{{ page.subscribe-tag }}" />
    {% else %}
      {% include subscribe-hidden-fields.html %}
    {% endif %}
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>
  var subscribedEmail = window.localStorage.getItem('subscribedEmail');
  $("#email-input").val(subscribedEmail);
</script>
